[submodule "source/chapters/es"]
	path = source/chapters/es
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_Es.git
[submodule "source/chapters/fr"]
	path = source/chapters/fr
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_fr.git
[submodule "source/chapters/zh"]
	path = source/chapters/zh
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_zh.git
[submodule "source/chapters/de"]
	path = source/chapters/de
	url = git@github.com:DiscoverMeteor/DiscoverMeteor_De.git
[submodule "source/chapters/ru"]
	path = source/chapters/ru
	url = git@github.com:DiscoverMeteor/DiscoverMeteor_Ru.git
