[submodule "source/chapters/es"]
	path = source/chapters/es
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_Es.git
[submodule "source/chapters/fr"]
	path = source/chapters/fr
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_fr.git
[submodule "source/chapters/zh"]
	path = source/chapters/zh
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_zh.git
[submodule "source/chapters/de"]
	path = source/chapters/de
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_De.git
[submodule "source/chapters/ru"]
	path = source/chapters/ru
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_Ru.git
[submodule "source/chapters/pl"]
	path = source/chapters/pl
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_Pl.git
[submodule "source/chapters/kr"]
  path = source/chapters/kr
  url = git://github.com/DiscoverMeteor/DiscoverMeteor_Kr.git
[submodule "source/chapters/gr"]
	path = source/chapters/gr
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_gr.git
[submodule "source/chapters/pt"]
	path = source/chapters/pt
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_pt.git
[submodule "source/chapters/jp"]
	path = source/chapters/jp
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_jp.git
[submodule "source/chapters/it"]
	path = source/chapters/it
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_it.git
[submodule "source/chapters/nl"]
	path = source/chapters/nl
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_nl.git
[submodule "source/chapters/id"]
	path = source/chapters/id
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_id.git
[submodule "source/chapters/ro"]
	path = source/chapters/ro
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_ro.git
[submodule "source/chapters/ar"]
	path = source/chapters/ar
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_ar.git
[submodule "source/chapters/da"]
	path = source/chapters/da
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_da.git
[submodule "source/chapters/hr"]
	path = source/chapters/hr
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_hr.git
[submodule "source/chapters/ms"]
	path = source/chapters/ms
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_ms.git
[submodule "source/chapters/tr"]
	path = source/chapters/tr
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_tr.git
[submodule "source/chapters/am"]
	path = source/chapters/am
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_am.git
[submodule "source/chapters/uk"]
	path = source/chapters/uk
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_uk.git
[submodule "source/chapters/th"]
	path = source/chapters/th
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_th.git
[submodule "source/chapters/hi"]
	path = source/chapters/hi
	url = git://github.com/DiscoverMeteor/DiscoverMeteor_hi.git
