!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    %meta{:name => "Title", :content => yield_content(:title)}/
    %meta{:name => "Author", :content => 'Tom Coleman & Sacha Greif'}/
    %meta{:name => "Description", :content => 'Learn to build Meteor apps from scratch.'}/

    %title=yield_content(:title)
    / Included CSS Files
    / %link{:href => "/stylesheets/ebook.css", :rel => "stylesheet"}

  
  %body{:class => yield_content(:body_class)}
    .main
      .row
        =find_and_preserve do
          =yield