%textarea#in{:cols => '60', :rows => '20'}

%button#convert Convert

%textarea#out{:cols => '60', :rows => '20'}

%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}

:javascript

  var isLetter = function(letter){
    if (letter.match('[a-zA-Z]'))
      return true;
    return false;
  }

  $('#convert').click(function(){
    var text = $('#in').val();
    var out = _.map(text.split('\n\n'), function(p){
      var firstChar = p.charAt(0);
      if(isLetter(firstChar)){
        return '//'
      }
      return p;
    }).join('\n\n');
    $('#out').val(out);
  });