- content_for(:title, @strings.book_title)

%section.intro
  .note
    - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :fenced_code_blocks => true)
    = markdown.render(@strings.intro)

%section.chapters
  %h2= @strings.toc
  %ul
    - blog.articles.reverse_each do |post|
      %li
        %a.chapter-title{:href => "#{post.url}"}=post.title
        %span.chapter-number=post.data.number

%section.side-column
  .contribute
    %h3=@strings.contribute
    %a{:href => @strings.repo}= @strings.on_github
  .translators
    %h3=@strings.translated_by
    %ul.contributors
