---
title: Discover Meteor – Building Real-Time JavaScript Web Apps – Sacha Greif & Tom Coleman
---

- content_for(:bookTitle, "Discover Meteor – Building Real-Time JavaScript Web Apps – Sacha Greif & Tom Coleman")

%section.cover-page
  %img{:src => '/images/discovermeteor.jpg'}
=find_and_preserve do
  =partial("full")